:root {
  --scrollbar-bg: #f1f1f1;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;
}

.snake-border {
  border: 5px groove transparent;
  position: relative;
  z-index: 1;
}

.snake-border:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px groove transparent;
  border-radius: 5%;
  animation: snake 2s infinite;
  z-index: -1;
}

@keyframes snake {
  0% {
    border-top-color: #4b205e;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  25% {
    border-top-color: transparent;
    border-right-color: #b70188;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  50% {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #4b205e;
  }
  75% {
    border-top-color: transparent;
    border-left-color: #b70188;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  100% {
    border-top-color: #b70188;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
}

.card-container {
  height: 400px; /* Fixed height for the card */
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.card-content {
  flex: 1; /* Take available space */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-description {
  max-height: 100px; /* Fixed height for the description */
  transition: max-height 0.3s ease; /* Smooth transition */
}

.card-description.expanded {
  max-height: 200px; /* Expanded height */
  overflow-y: scroll;
  scrollbar-width: none;
}

.card-description::-webkit-scrollbar {
  width: 8px; /* Width of the entire scrollbar */
}

.card-description::-webkit-scrollbar-track {
  background: var(--scrollbar-bg); /* Color of the track */
}

.card-description::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb); /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.card-description::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover); /* Color of the thumb on hover */
}

.card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 16px;
}

.card-image {
  width: 93%;
  height: 150px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .verticalwhenmobile {
    flex-direction: column;
    align-items: center;
  }

  .card-footer {
    flex-direction: column;
  }
}
